DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-xxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require
APP_ENV=development
API_JWT_SECRET=your_jwt_secret_here

# UPSTASH_REDIS
REDIS_REST_URL=
REDIS_REST_TOKEN=